@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");

:root {
    --fundo-cinza: #EBECEE;
    --laranja: #EB9B00;
    --branco: #fff;
    --azul-degrade: #002F52;
    --fonte-principal: "Poppins";
}

body {
    background-color: var(--fundo-cinza);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}